body {
	background-color:black;
	color: white;
	font:normal bold 14px tahoma;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* overflow: hidden; */
}

#container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	border: 2px solid;
	border-color:orange;
	padding:10px;
	width:720px;
	height: 450px;
}

#div-left {
	float:left;
	width:300px;
	height:300px;
}

#logo{
	width:300px; 
	height:50px; 
	display: flex;
	align-items:center;
}

#mess{
	margin-left: auto;
}

#RX{
	margin-top:15px;
	height:70px;
	line-height:35px;
}

.RXinstant, .TXinstant {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centre les éléments verticalement si nécessaire */
}

.RXinstant .label, .TXinstant .label{
    order: 1; /* Change l'ordre d'affichage pour mettre le label en premier */
	width:100px;
}

.RXinstant meter, .TXinstant meter{
    order: 2; /* Change l'ordre d'affichage pour mettre le meter en second */
}

.RXinstant form, .TXinstant form{
    order: 2; /* Change l'ordre d'affichage pour mettre le formulaire en second */
}

#TX{
	margin-top:15px;
	height:70px;
	line-height:35px;
}

#TX-record
{
	margin-top:15px;
	text-align:center;
	font:normal bold 30px tahoma;
	height:40px;
	width:100%;
	display: inline-block;
}

#div-right {
    float: right;
    width: 400px;
	height: 300px;
    display: flex;
    flex-direction: column;
}

#div-right .visualizer {
	margin-bottom: 10px;
    flex: 1;
	width:400px; 
	height:280px; 
	background:black;
	background-color:black;
	border-radius: 5px 5px 5px 5px;
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);
}

#SA818_control
{
	margin-top: 20px;
	float: left;
	width: 720px;
	height: 30px;
}

#SA818_control table
{
	width:100%;
}

#SA818_control input, select
{
	width: 120px;
	margin-right: 10px;
}

#div-PTT{
	position: absolute;
	bottom: 30px;
	height:40px;
	float: right;
	width: 300px;
}

#Scann{
	display: flex;
	align-items: center;
}

#Scann .label {
    margin-right: 10px;  
}

#Scann textarea{
	height:40px;
	width: 128px;
	resize: none;
}

#Scann input[type="checkbox"] {
    margin-left: 20px; 
	margin-right: 20px;
}

meter{
	width:200px;
}

input[type="range"] {
    width:200px;
}

.button_pressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,0px 2px 2px 0px rgba(255, 255, 255, 0.5);	
}

.button_unpressed{
	box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5),0px 2px 2px 0px rgba(255, 255, 255, 0.5) inset;		
}

#div-TX{
	width: 300px;
	height: 200px;
}

#div-latencymeter {
    position: absolute;
    bottom: 10px;
	height:20px;
	right: 10px;
}

.GAIN_control
{
line-height: 30px;
display:flex;
}

.C{
	flex:1;
}

.button_green {
    color: #7FFF00;
	text-shadow: 0 0 10px #6a6767, 0 0 20px #444, 0 0 30px #515151, 0 0 40px #FFFAFC, 0 0 70px #3AFF11, 0 0 80px #45FF11, 0 0 100px #4F4F4F, 0 0 150px #18FF11;
}

/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */
